<% layout("/layouts/boilerplate") %>


<div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-2 mt-3">
  <% for(let listing of allListings){ %>

    <div class="position-relative">

      <button class="btn position-absolute top-0 end-0 m-2 heart-btn" type="button" data-id="<%= listing._id %>">
        <i class="fa-regular fa-heart fa-lg"></i>
      </button>

      <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card listing-card col">
          <img
            src="<%= listing.image.url %>"
            class="card-img-top"
            alt="listing_image"
            style="height: 20rem;"
          >

          <div class="card-body">
            <p class="card-text">
              <b><%= listing.title %></b><br>
              &#8377; <%= listing.price.toLocaleString("en-IN") %>/night
            </p>
          </div>
        </div>
      </a>

    </div>

  <% } %>
</div>