<% layout("/layouts/boilerplate") %>


  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1 mt-3" >
     <%for(let listing of category){%>
     <a href="/listings/<%= listing._id %>" class="listing-link">  
    <div class="card listing-card col">
  <img src="<%= listing.image.url %>"
   class="card-img-top" alt="listing_image" 
   style="height: 20rem" />
<div class="card-img-overlay"></div>
  <div class="card-body">
    <p class="card-text">
        <b> <%= listing.title%> <br></b>
          <%= listing.price ? '₹ ' + listing.price.toLocaleString("en-IN") + '/night' : 'Price not available' %>
          <i class="tax-info">  + <%= listing.price*0.18 %> (18% GST)</i>
    </p>
  </div>
</div>
</a>
<% } %>